<div class="container top-diff">
    <div class="clickable" id="passthrough">
        <div *ngIf="testing">
            <div class="columns is-centered is-vcentered is-mobile">
                <div class="column has-text-centered">
                    <app-door door="1"></app-door>
                </div>
                <div class="column has-text-centered">
                    <app-door door="2"></app-door>
                </div>
                <div class="column has-text-centered">
                    <app-door door="3"></app-door>
                </div>
            </div>
        </div>
    </div>
    <div class="container center" *ngIf="win">
        <div class="content">
            <h1>You Win</h1>
        </div>
    </div>
    <div class="container center" *ngIf="lose">
        <div class="content">
            <h1>You Lose</h1>
        </div>
    </div>
</div>
