<div class="content center" *ngIf="win">You Win</div>
<div class="content center" *ngIf="lose">You Lose</div>
<div class="container top-diff">
    <div class="unclickable" id="passthrough">
        <div class="columns is-centered is-vcentered is-mobile">
            <div class="column has-text-centered">
                <app-door door="1"></app-door>
            </div>
            <div class="column has-text-centered">
                <app-door door="2"></app-door>
            </div>
            <div class="column has-text-centered">
                <app-door door="3"></app-door>
            </div>
        </div>
    </div>
</div>
