<style>
    ul.circle {
    list-style-type: circle;
    padding-left: 5%;
    }
</style>

<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="box has-background-grey-lighter">
            <p class="content is-large has-text-dark">Instructions:</p>
            <ul class="content circle has-text-dark">
                <li>Thank you for participating.</li>
                <li>The goal is to win as many times as you can.</li>
                <li>Items will appear on the screen.</li>
                <li>You can select these items using the mouse cursor.</li> 
                <li>Once your cursor is hovered over the item you wish to select, press the left mouse button.</li>
                <li>This will select the item and progress the task.</li>
                <li>Feedback will be given after each trial.</li>
                <li>Press the button below to begin.</li>
            </ul>
        </div>
    </div>
</div>