<app-instruction id="instruction" [hidden]="!showInstruction"></app-instruction>
<div class="container" [hidden]="!showInstruction">
  <div class="columns">
    <div class="column has-text-centered">
      <button class="button is-link is-rounded is-large" (click)="start()">Begin</button>
    </div>
  </div>
</div>
<app-control id="control" [hidden]="!showControl"></app-control>
<app-experimental id="experimental" [hidden]="!showExperimental"></app-experimental>
<app-survey id="survey" [hidden]="!showSurvey"></app-survey>
<router-outlet></router-outlet>