<div id="winText">

</div>
<div class="container top-gap">
    <div class="columns is-centered is-vcentered is-mobile">
        <div class="column has-text-centered">
            <app-door door="1"></app-door>
        </div>
        <div class="column has-text-centered">
            <app-door door="2"></app-door>
        </div>
        <div class="column has-text-centered">
            <app-door door="3"></app-door>
        </div>
    </div>
    <div class="columns is-centered is-vcentered is-mobile">
        <div class="column has-text-centered">
            <app-door door="4"></app-door>
        </div>
        <div class="column has-text-centered">
            <!--nothing-->
        </div>
        <div class="column has-text-centered">
            <app-door door="5"></app-door>
        </div>
    </div>
    <div class="columns is-centered is-vcentered is-mobile">
        <div class="column has-text-centered">
            <app-door door="6"></app-door>
        </div>
        <div class="column has-text-centered">
            <app-door door="7"></app-door>
        </div>
        <div class="column has-text-centered">
            <app-door door="8"></app-door>
        </div>
    </div>
</div>