/* You can add global styles to this file, and also import other style files */

.center
    display: flex
    justify-content: center
    align-items: center

.top-diff
    padding-top: 20%

.door 
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-user-drag: none
    user-drag: none